# Django
DJANGO_SECRET_KEY=change-me-to-a-long-random-string-min-50-chars!!
DEBUG=False
ALLOWED_HOSTS=deine-domain.ngrok-free.dev,localhost

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://deine-domain.ngrok-free.dev/spotify/callback/

# Google (Calendar, Gmail, Sheets)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://deine-domain.ngrok-free.dev/google/callback/

# ngrok
NGROK_AUTHTOKEN=
